<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>KFZ Zulassungsantrag erstellen</h1>
      </div>

		  <div class="col-md-3" id="leftCol">
		  	<div class="well">  	
			    <%= render 'layouts/sidebar_insert' %>
				</div>
	    </div>		 

		  <div class="col-md-9" id="rightCol">		  		
				<%= render 'form' %>	
			</div>


		</div>		 
  </div>
</div>
