<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>Bereich zur Eingabe von neuen Daten</h1>
      </div>

		  <div class="col-md-3" id="leftCol">
		  	<div class="well">  	
			    <%= render 'layouts/sidebar_insert' %>
				</div>
	    </div>		 

		  <div class="col-md-9" id="rightCol">		  		
				<div class="well">          
				  <div class="panel panel-info">
				    <div class="panel-body">	
				    	<p>Please choose one Entity to insert new data. Start always with Kunde anlegen.</p>
				    </div>
				  </div>
				</div>		
			</div>


		</div>		 
  </div>
</div>


 




