<h3>Insert</h3> 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Stammdaten</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li ><%= link_to "Kunde anlegen", new_kunde_path %></li>
		</ul>
	</div> 
</div> 

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Anwendungen</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
			<li class="active"><%= link_to "KFZ Zulassung",  new_anmeldung_path  %></li>
	</div> 
</div>







